#macOs  Files
*/.DS_Store
.DS_Store

*/package-lock.json
*/yarn.lock
*/yarn-error.log
*/node_modules/
*/logs/
yarn.lock
package-lock.json

*.idea
Backend/get-pip.py
Frontend/yarn.lock
Frontend/src/pages/Network2.vue
